{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Change Password{% endblock %}
{% block content %}
    <h1>Change Password...</h1></br>

    <div class="form-group">
        <form method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Change PASSWORD</button>
        </form>
    </div>
{% endblock %}