{% load custom_tags %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand"
                    {% if user.is_authenticated %}
               href="{% url 'post-list' %}"
                    {% else %}
               href="{% url 'index' %}"
                    {% endif %}
            ><i class="fas fa-comment"></i>Social Blog<i class="fas fa-book"></i></a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li>
                        <a class="inbox-icon" href="{% url 'explore' %}"><i class="far fa-compass"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="text-decoration-none active inbox-icon" aria-current="page"
                           href="{% url 'add-article' %}">Add Article</a>
                        {#                        <a class="inbox-icon" href="{% url 'add-article' %}">Add Article</a>#}
                    </li>
                </ul>
                <form class="d-flex" method="GET" action="{% url 'profile-search' %}">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                               aria-describedby="basic-addon1" name="query" value="{{ request.GET.query }}">
                        <button class="remove-default-btn" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
                {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link text-dark" href="#">{{ user.first_name }} {{ user.last_name }}<span
                                class="sr-only">(current)</span></a>
                    </li>

                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fas fa-user"></i></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'profile' request.user.profile.pk %}">Profile</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'new_password' %}">Change Password
                            </a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>
                            {{ else }}
                            <a href="{% url 'account_login' %}" class="btn btn-light mr-2">Log In</a>
                            <a href="{% url 'account_signup' %}" class="btn btn-dark">Register</a>
                        </ul>
                    </div>
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="nav-item inbox-icon-container">
                        <a href="{% url 'inbox' %}" class="inbox-icon">
                            <i class="far fa-paper-plane"></i>
                        </a>
                    </div>
                    <div class="nav-item">
                        {% show_notifications %}
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
</div>
