{% extends 'landing/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 p-5">
                <a href="{% url 'inbox' %}" class="btn btn-light">Back to Your Inbox</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-5">
                <h3>Start a Conversation</h3>
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-5 col-sm-12">
                {% if messages  %}
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <p>Enter the user name.</p>
                    {{ form | crispy }}
                    <div class="d-grid gap-2">
                        <button class="btn btn-success mt-3" type="submit">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}