{% extends 'landing/base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 p-5">
                <h3>Your Conversations</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-5">
                <form method="GET" action="{% url 'create-thread' %}">
                    <button class="btn btn-light p-3" type="submit">Start a Conversation</button>
                </form>
            </div>
        </div>
        {% for thread in threads.all %}
            <div class="row mb-3">
                <div class="card col-md-12 p-5 shadow-sm">
                    <h5><i class="far fa-envelope inbox-icon"></i> @{{ thread.user }} - @{{ thread.receiver }}</h5>
                    <a class="stretched-link" href="{% url 'thread' thread.pk %}"></a>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock content %}