{% extends 'landing/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="container">
        {#                <div class="row justify-content-center mt-3">#}
        {#                    <div class="col-md-5 col-sm-12 border-bottom">#}
        {#                        <h5 >Add a Post!</h5>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <div class="row justify-content-center mt-3 mb-5">#}
        {#                    <div class="col-md-5 col-sm-12 border-bottom">#}
        {#                        <form method="post" enctype="multipart/form-data">#}
        {#                            {% csrf_token %}#}
        {#                            {{ form|crispy }}#}
        {#                            <div class="d-grid gap-2">#}
        {#                                <button class="btn btn-success mt-3">Submit</button>#}
        {#                            </div>#}
        {#                        </form>#}
        {#                    </div>#}
        {#                </div>#}
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom">
                <h5 class="text-center">Article List</h5>
            </div>
        </div>

        {% for post in post_list %}



            <div class="row justify-content-center mt-3">
                <div class="shared-post position-relative pt-3 col-md-8 col-sm-12">
                    {#                    {% if post.image.count > 0 %}#}
                    {#                        <div class="row">#}
                    {#                            {% for img in post.image.all %}#}
                    {#                                <div class="col-md-4 col-xs-12">#}
                    {#                                    <img src="{{ img.image.url }}" class="post-image" alt=""/>#}
                    {#                                </div>#}
                    {#                            {% endfor %}#}
                    {#                        </div>#}
                    {#                    {% endif %}#}
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% if post.image.count > 0 %}
                                {% for img in post.image.all %}
                                    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                        <img src="{{ img.image.url }}" class="d-block w-100" alt="...">
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="body">
                        <p>{{ post.body }}</p>
                    </div>
                    <a class="stretched-link" href="{% url 'post-detail' post.pk %}"></a>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-md-5 col-sm-12 border-bottom position-relative">
                    {% if post.shared_user %}
                        <div>
                            <a href="{% url 'profile' post.shared_user.profile.pk %}">
                                <img class="rounded-circle post-img" height="30" width="30"
                                     src="{{ post.shared_user.profile.picture.url }}" alt=""/>
                            </a>
                            <p class="post-text">
                                <a class="text-primary post-link"
                                   href="{% url 'profile' post.shared_user.profile.pk %}">@{{ post.shared_user }}</a>
                                share a post on {{ post.shared_on }}
                            </p>
                        </div>
                    {% else %}
                        <div>
                            <a href="{% url 'profile' post.author.profile.pk %}">
                                <img class="rounded-circle post-img" height="30" width="30"
                                     src="{{ post.author.profile.picture.url }}" alt=""/>
                            </a>
                            <p class="post-text">
                                <a class="text-primary post-link"
                                   href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> {{ post.created_on }}
                                <span onclick="shareToggle('{{ post.pk }}')"><i
                                        class="far fa-share-square share-btn"></i>Share</span>
                                {% if request.user == post.author %}
                                    <a href="{% url 'post-edit' post.pk %}" class="edit-color"><i
                                            class="far fa-edit"></i></a>
                                    <a href="{% url 'post-delete' post.pk %}" class="edit-color"><i
                                            class="fas fa-trash"></i></a>
                                {% endif %}
                            </p>
                        </div>
                    {% endif %}

                    <form method="post" action="{% url 'shared-post' post.pk %}" class="d-none"
                          id="{{ post.pk }}">
                        {% csrf_token %}
                        {{ sharedform|crispy }}
                        <div class="d-grip gap-2">
                            <button class="btn btn-success mt-3 body"> Share the post</button>
                        </div>
                    </form>
                    {% if post.shared_body %}
                        <div class="position-relative border-bottom mb-3 body">

                            <p>{{ post.shared_body }}</p>
                        </div>


                        <div class="shared-post">
                            <a href="{% url 'profile' post.author.profile.pk %}">
                                <img class="rounded-circle post-img" height="30" width="30"
                                     src="{{ post.author.profile.picture.url }}" alt=""/>
                            </a>
                            <p class="post-text">
                                <a class="text-primary post-link"
                                   href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> {{ post.created_on }}
                            </p>
                        </div>
                    {% endif %}

                    <div class="d-flex flex-row">
                        <form method="POST" action="{% url 'like' post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="remove-default-btn" type="submit"><i class="far fa-thumbs-up"></i>
                                <span>{{ post.likes.all.count }}</span></button>
                        </form>

                        <form method="POST" action="{% url 'dislike' post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="remove-default-btn"
                                    type="submit"><i class="far fa-thumbs-down"></i>
                                <span>{{ post.dislikes.all.count }}</span></button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}