{% extends 'landing/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-5 col-sm-6">
                <a href="{% url 'post-list' %}" class="btn btn-light">Back To Feed</a>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom">
                <div>
                    <a href="{% url 'profile' post.author.profile.pk %}">
                        <img class="round-circle post-img" height="30" width="30"
                             src="{{ post.author.profile.picture.url }}"/>
                    </a>
                    <p class="post-text">
                        <a class="text-primary post-link"
                           href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> {{ post.created_on }}
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% if post.image.count > 0 %}
                                {% for img in post.image.all %}
                                    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                        <img src="{{ img.image.url }}" class="d-block w-100" alt="...">
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    {% if request.user == post.author %}
                        <a href="{% url 'post-edit' post.pk %}" class="edit-color"><i class="far fa-edit"></i></a>
                        <a href="{% url 'post-delete' post.pk %}" class="edit-color"><i class="fas fa-trash"></i></a>
                    {% endif %}

                </div>
                <div class="position-relative">
                    {#                    {% if post.image %}#}
                    {#                        <img src="{{ post.image.url }}" alt="" class="post-image">#}
                    {#                    {% endif %}#}
                    {#                    {% if post.image.count > 0 %}#}
                    {#                        <div class="row">#}
                    {#                            {% for img in post.image.all %}#}
                    {#                                <div class="col-md-6 col-xs-12">#}
                    {#                                    <img src="{{ img.image.url }}" class="post-image" alt=""/>#}
                    {#                                </div>#}
                    {#                            {% endfor %}#}
                    {#                        </div>#}
                    {#                    {% endif %}#}
                    {#                    <div class="body">#}

                    <p>{{ post.body }}</p>
                </div>
                <div class="d-flex flex-row">
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                            <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                        </button>
                    </form>

                    <form method="POST" action="{% url 'dislike' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                            <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-5 col-sm-12">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2">
                        <button class="btn btn-success mt-3">Submit!</button>
                    </div>
                </form>
            </div>
        </div>
        {% for comment in comments %}
            {% if comment.is_parent %}
                <div class="row justify-content-center mt-3 mb-3">
                    <div class="col-md-5 col-sm-12 border-bottom">
                        <p>
                        <div>
                            <a href="{% url 'profile' comment.author.profile.pk %}">
                                <img class="round-circle post-img" height="30" width="30"
                                     src="{{ comment.author.profile.picture.url }}"/>
                            </a>
                            <p class="post-text">
                                <a class="text-primary post-link"
                                   href="{% url 'profile' comment.author.profile.pk %}">@{{ comment.author }}</a> {{ comment.created_on }}
                            </p>
                        </div>
                        {% if request.user == comment.author %}
                            <a href="{% url 'comment-delete' post.pk comment.pk %}" class="edit-color"><i
                                    class="fas fa-trash"></i></a>
                        {% endif %}
                        </p>
                        <p>{{ comment.comment }}</p>

                        <div class="d-flex flex-row">
                            <form method="POST" action="{% url 'comment-like' post.pk comment.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="remove-default-btn" type="submit">
                                    <i class="far fa-thumbs-up"> <span>{{ comment.likes.all.count }}</span></i>
                                </button>
                            </form>

                            <form method="POST" action="{% url 'comment-dislike' post.pk comment.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="remove-default-btn" type="submit">
                                    <i class="far fa-thumbs-down"> <span>{{ comment.dislikes.all.count }}</span></i>
                                </button>
                            </form>
                            <div>
                                <button class="remove-default-btn"><i class="far fa-comment-dots"
                                                                      onclick="commentReplyToggle('{{ comment.pk }}')"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-3 mb-2 d-none" id="{{ comment.pk }}">
                    <div class="col-md-5 col-sm-12">
                        <form method="POST" action="{% url 'comment-reply' post.pk comment.pk %}">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="d-grid gap-2">
                                <button class="btn btn-success mt-3">Submit!</button>
                            </div>
                        </form>
                    </div>
                </div>

                {% for child_comment in comment.children %}
                    <div class="row justify-content-center ms-3 mt-2 mb-2 child-comment">
                        <div class="col-md-5 col-sm-12 border-bottom">
                            <p>
                            <div>
                                <a href="{% url 'profile' child_comment.author.profile.pk %}">
                                    <img class="round-circle post-img" height="30" width="30"
                                         src="{{ child_comment.author.profile.picture.url }}"/>
                                </a>
                                <p class="post-text">
                                    <a class="text-primary post-link"
                                       href="{% url 'profile' child_comment.author.profile.pk %}">@{{ child_comment.author }}</a> {{ child_comment.created_on }}
                                </p>
                            </div>
                            {% if request.user == child_comment.author %}
                                <a href="{% url 'comment-delete' post.pk child_comment.pk %}" class="edit-color"><i
                                        class="fas fa-trash"></i></a>
                            {% endif %}
                            </p>
                            <p>{{ child_comment.comment }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>


{% endblock content %}